.App {
  text-align: center;
}

/* custom entries */

.loading {
    transition: all 0.1s ease;
    opacity: 50%;
}

main {
  margin: 1em;
  display: grid;
  grid-template-areas: "search viewer"
                       "movies viewer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
  justify-items: center;
}

.reset {
  grid-area: reset;
}

.movies {
  grid-area: movies;
}

.viewer {
    grid-area: viewer;
}

.movie .selected {
    font-weight: bold;
}

.movie .name {
  cursor: pointer;
  color: blue;
}

.movie .name:hover {
  color: deeppink;
}

.movie .genre {
  font-weight: bold;
}

.viewings {
  position: fixed;
  right: 0;
  top: 0;
  margin: 1em;
}
